
# ==========================================
# GymFit Backend - variables de entorno
# ==========================================

# Application
NODE_ENV=development
PORT=3001

# Database - PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_NAME=gymfit
DB_PASSWORD=admin

# JWT Authentication
JWT_SECRET=Gymfit_SecretKey_2026
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRATION=7d

# CORS — Frontend Next.js corre en :3000
CORS_ORIGIN=http://localhost:3000

# Bcrypt
BCRYPT_SALT_ROUNDS=10
